/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom #block-block-1,
.region-bottom #block-menu-menu-footer-menu ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

#page {
	margin-bottom: 30px;
}

.region-bottom .block div {
  text-align: center;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/path/to/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

#header,
.not-front #content .content-wrapper,
.sidebar .block,
.region-content-bottom .block,
.region-bottom #block-menu-menu-footer-menu,
#block-views-homepage-products-block .views-column {
	background: rgb(13, 24, 31); /* The Fallback */
	background: rgba(13, 24, 31, 0.8);
	box-shadow: #444444 0 0 6px;
	position:relative;
}

.page-taxonomy-parent #content-inner,
.page-taxonomy-term #content-inner {
    overflow: auto;
}

  #content-inner {
    background-color: #0d181f;
    margin: 20px 10px;
    padding: 20px;
    border-bottom: 3px solid #00a9e7;
  }

  .page-taxonomy-term #content #content-inner,
  .page-search-results #content #content-inner,
  .page-taxonomy-parent #content #content-inner {
    background:none !important;
    padding:0;
    border:0;
  }
  
.region-content-bottom .block {
  margin-top: 10px;
  padding: 5px 15px 15px;
}

.content-wrapper {
  padding:1px 5px;
}

#header {
	min-height:120px;
}

.header-inner {
	position:relative;
}

.header__logo {
    margin-top:15px !important;
}

.front h1.title {
  display:none;
}

.front #content {
  padding:0;
}

.breadcrumb {
  margin-bottom: 12px;
  font-size: 11px;
}

.breadcrumb a {
  color: #00a9e7;
}

/* blocks */
.sidebar .block {
  margin-bottom: 0.8em;
	padding: 5px 15px 15px;
}

#block-block-1 {
	font-size:80%;
}

.region-bottom #block-menu-menu-footer-menu {
	font-size: 82%;
	padding-top:10px;
	padding-bottom:10px;
}

.region-bottom #block-menu-menu-footer-menu ul {
	margin-top:0;
	margin-bottom:0;
	text-align: center;
}

.region-bottom #block-menu-menu-footer-menu ul li {
	border-left:1px solid #7692a3;
	display: inline-block;
	list-style:none;
	padding:0px 6px 0 10px;
}

.region-bottom #block-menu-menu-footer-menu ul li.first {
	border:none;
}

.region-bottom #block-menu-menu-footer-menu ul li a {
  color:#fff;
  text-transform:uppercase;
}

.sidebars .block-bean {
  border-bottom: 3px solid #00a9e7;
  padding:5px 0 0 0;
}

.sidebars .block-bean .block-title {
  padding:0 15px;
}

.front .region-bottom {
  display: none;
}

.front #content,
.front .sidebars .sidebar {
position:absolute !important;
top: 1000px;
}

.front #page {
    display: block;
  min-height: 1350px;
  position: relative;
}

/* Menu */

#block-superfish-1 {
	background: none;
	box-shadow: none;
}

#block-superfish-1 li.sf-depth-1.first {
	background:none;
}

#block-superfish-1 li.sf-depth-1 {
	background:url('../../images/menu-bar.png') no-repeat left center;
	font-size:1.2em;
	padding:15px;
}

#block-superfish-1 li ul li {
	border-bottom:1px solid #fff;
	font-size:12px;
	padding:5px;
	width:75px;
}

#block-superfish-1 li .sf-sub-indicator {
	display:none;
}

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
	background: url('../../images/sub-menu-bg.png') repeat;
}

#menu-920-1,
.sf-megamenu-wrapper {
	border-bottom:none !important;
	margin:0 !important;
	padding:10px 0 0 10px !important;
}

#menu-920-1 .menuparent {
	display:none;
}

#block-tb-megamenu-main-menu {
}

.tb-megamenu .nav li a {
padding: 10px 10px;
}
/* content */

.node h2, .node h3m {
	margin-top:0;
	margin-bottom:5px;
}

.node p {
	margin-top:0;
}

/* product page */

.node-add-to-cart,
.form-submit,
.cart-block-checkout a,
.call-now {
  background-color:#00a9e7;
  border:none;
  color:#0d181f;
  padding: 5px 7px;
  text-transform:uppercase;
}

.call-now {
  margin-top:10px;
  width: 128px;
  display: block;
  text-align: center;
}

.remove .form-submit {
  background-color:#a40606;
  color: #fff
}

.cart-block-view-cart a {
  background-color:#0d181f;
  border:none;
  color:#fff;
  padding: 5px 7px;
  text-transform:uppercase;
}

.cart-block-items tr.odd,
.cart-block-items tr.even,
.cart-block-summary-total {
  background-color: #0d181f !important;
border-bottom: 1px solid #00a9e7 !important;
}

.cart-block-summary-links ul.links li {
  border:none;
  padding:0;
}

.cart-block-summary-links ul.links {
  padding: 0;
}

/* taxonomy lists */
.view-taxonomy-term .views-row,
.view-taxonomy-images .views-column,
#block-views-homepage-products-block .views-column,
.view-search-results .views-row,
.view-you-might-also-be-interested-in .views-row {
	background-color:#0d181f;
	border-bottom: 2px solid #00a9e7;
	text-align:center;
}

.view-taxonomy-term .views-column-last,
.view-taxonomy-images .views-column-last,
.view-search-results .views-column-last {
	margin:0;
}

  .view-taxonomy-term .item-list ul,
  .page-search-results .item-list ul {
    padding: 0;
    overflow: auto;
  }

  .view-taxonomy-term .views-row,
  .view-search-results .views-row {
    list-style: none;
    min-height: 193px;
  }

.views-field-title,
.views-field-name {
	font-size: 89%;
	line-height: 130%;
	padding:0 4px;
}

.views-field-uc-product-image {
	margin-bottom:6px;
}

.views-field-display-price {
	color:#00a9e7;
}

/* forms */

.webform-client-form label {
	display:inline-block;
	width:100px;
}

/* user */
.page-user-edit .content {
	padding:0 20px;
}

/* slideshow */
.view-homepage {
  position:relative;
}

  .front .view-homepage {
    background-color: #0d181f;
    margin: 0 0 7px 0px;
    padding: 0px;
    border-bottom: 3px solid #00a9e7;
  }

.view-homepage .views-field-body {
  background: rgb(13, 24, 31); /* The Fallback */
  background: rgba(13, 24, 31, 0.8);
  padding: 10px 0px;
  bottom:0;
  left: 0;
  max-width:646px;
  width: 100%;
  z-index:9;
}

.view-homepage .views-field-body .field-content {
  padding: 0 20px;
}

.view-homepage .views-field-body h1 {
  font-size:3em;
  line-height: 1em;
margin:0;
}

.view-homepage .views-field-body p {
  font-size:1.8em;
  line-height: 1em;
  margin:0;
  text-transform: uppercase;
}

.flexslider {
margin: 0px;
background: none;
border: 0;
position: relative;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
box-shadow: 0;
-webkit-box-shadow: 0;
-moz-box-shadow: 0;
-o-box-shadow: 0;
zoom: 1;
}

.flex-prev {
background: url('../../images/left-arrow.png') no-repeat;
width:22px !important;
height:72px !important;
text-indent: -10000px;
}

.flex-next {
background: url('../../images/right-arrow.png') no-repeat;
width:22px !important;
height:72px !important;
text-indent: -10000px;
text-align: left !important;
}

.uc-cart-checkout-form .form-actions {
  margin-top:1em;
}

#edit-back {
      background-color: #0d181f;
    border: none;
    color: #fff;
}

  .front #content {
  background: none;
box-shadow: none;
position: relative;
}

  .front #content-inner {
    background:none;
    margin: 0 0 5px 0;
    padding: 0px;
    border-bottom: 0;
  }

@media all and (max-width: 480px) {
.video-filter iframe {
    width: 100%;
    min-height:175px;
    margin-bottom: 15px;
  }

.flex-control-nav {
    width: 100%;
    position: absolute;
    top: 10px;
    text-align: right;
    z-index: 9;
    right: 10px;
    height: 15px;
}

.flex-control-nav a {
  text-align: left;
  top: 30% !important;
}

  #header {
    height: 80px;
    min-height:auto;
  }

    .header__logo {
    float: none !important;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.header__logo {
  margin-top:12px !important;
}

.header__logo img {
  max-width: 150px;
}
  .tb-megamenu button.btn {
    border-radius: 0;
    background: url('../../images/threelines.png') no-repeat;
    background-size: cover;
    width:30px;
    height: 24px;
  }

  .tb-megamenu button.btn:hover, .tb-megamenu button.btn:focus {
    background-color: transparent;
    background-position: 0 0;
    box-shadow: none;
    transition: none;
  }

  .tb-megamenu .dropdown-menu li > a:link, .tb-megamenu .dropdown-menu li > a:visited {
    color: #fff;
  }

  .tb-megamenu .nav-collapse .dropdown-menu a {
    padding: 1px 20px;
  }

.tb-megamenu .nav-collapse, .tb-megamenu .nav-collapse .dropdown-menu {
  background: #0d181f;
}

#block-superfish-1,
  #block-tb-megamenu-main-menu {
    position:absolute;
    top:14px;
    right:10px;
    width: 96%;
  }

#main {
      padding-top: 1em;
    position: relative;
}

#content {
  margin-bottom: 1em;
}

.view-homepage {
  height: auto;
margin-bottom: 1em;
}

.view-homepage {
  height:400px;
}

.view-homepage-products .views-column {
  margin-bottom: 10px;
   padding-bottom: 10px;
}

.node .field-name-uc-product-image {
text-align: center;
}

.front #content,
.front .sidebars .sidebar {
position:relative;
top: 0px !important; 
}

.front img {
  width: 100%;
}

.html.front .sidebars .block-bean .entity {
    max-height: auto !important; 
}

  .view-taxonomy-term .views-row,
  .view-taxonomy-images .views-row,
  .view-search-results .views-row,
  .view-you-might-also-be-interested-in .views-row {
    width: 47%;
    margin: 1% 4.5% 5% 0%;
    float:left;
    list-style: none;
    min-height: 193px;
  }


  .view-taxonomy-term .views-row:nth-child(2n),
  .view-taxonomy-images .views-row:nth-child(2n),
  .view-search-results .views-row:nth-child(2n),
  .view-you-might-also-be-interested-in .views-row:nth-child(2n)  {
    margin-right:0;
  }

  .view-taxonomy-term .views-row-last:after,
  .view-taxonomy-images .views-column-2:after,
  .view-taxonomy-term .views-row:nth-child(2n):after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.view-taxonomy-images .views-column {
margin-bottom: 1em;
}

#cart-form-pane .form-actions #edit-update,
.form-actions #edit-cancel {
  background-color: #2c3d48;
  color: #fff;
  margin-right: 0px;
  margin-bottom: 10px;
}

#uc-cart-view-form table {
  overflow: scroll;
}

.uc-store-address-field .form-item label {
  text-align: left;
}

.form-item-panes-delivery-delivery-street2 label,
.form-item-panes-billing-billing-street2 label {
  display: none;
}

#uc-cart-checkout-form #line-items-div {
  float: none;
  margin-left: 0;
}

.order-review-table td {
  padding:0 !important;
}

  .front #content {
  background: none;
box-shadow: none;
position: relative;
}

#block-block-11 p a {
  margin-bottom: 10px;
  display: block;
}

}

/* Navigation bar */
@media all and (min-width: 480px) {
  .video-filter iframe {
    width: 100%;
    min-height:340px;
    margin-bottom: 15px;
  }
  
#block-block-11 {
  overflow: auto;
}

#block-block-11 a {
  float: left;
  width: 23.8%;
  margin-right: 1.6%;
}

#block-block-11 #last {
  margin-right: 0;
}

.flex-control-nav a {
  text-align: left;
  top: 40% !important;
}

.front .sidebars .block-bean .entity {
  max-height:155px;
}

  .header__logo {
    float: none !important;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

  .tb-megamenu button.btn {
    border-radius: 0;
    background: url('../../images/threelines.png') no-repeat;
    background-size: cover;
    width:48px;
  }

  .tb-megamenu button.btn:hover, .tb-megamenu button.btn:focus {
    background-color: transparent;
    background-position: 0 0;
    box-shadow: none;
    transition: none;
  }

  .page-taxonomy-term #content #content-inner,
  .page-search-results #content #content-inner,
	.page-taxonomy-parent #content #content-inner {
		background:none !important;
		padding:0;
		border:0;
	}

  #block-views-homepage-products-block .views-column,
  .view-search-results .views-column {
    display: block;
float: left;
margin: 1% 0 1% 1.6%;
width: 23.8%;
min-height: 200px;
  }

  #block-views-homepage-products-block .views-column:first-child {
    margin-left:0;
  }
	
	.view-taxonomy-images .views-column {
		width:188px;
		margin-right:40px;
		float:left;
		min-height: 160px;
		margin-bottom: 30px;
	}

    .view-taxonomy-term .views-row,
  .view-search-results .views-row {
    width: 29%;
    margin: 1% 6.5% 5% 0%;
    float:left;
    list-style: none;
    min-height: 193px;
  }

   .view-you-might-also-be-interested-in .views-row {
     width: 29%;
    margin: 1% 6.5% 0% 0%;
    float:left;
    list-style: none;
    min-height: 193px;   
   }
	
	.view-taxonomy-term .views-row:nth-child(3n),
  .view-taxonomy-images .views-column-3,
  .view-search-results .views-row:nth-child(3n),
  .view-you-might-also-be-interested-in .views-row:nth-child(3n) {
		margin-right:0;
	}

  .view-taxonomy-term .views-row-last:after,
  .view-taxonomy-term .views-row:nth-child(3n):after,
  .view-you-might-also-be-interested-in .views-row:nth-child(3n):after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.flex-control-nav {
width: 100%;
position: absolute;
top: 10px;
text-align: right;
z-index: 9;
right: 10px;
height: 15px;
}

.flex-control-nav a {
  text-align: left;
}
	
  .front #content {
  background: none;
box-shadow: none;
position: relative;
}
	
	#block-superfish-1,
  #block-tb-megamenu-main-menu {
		position:absolute;
		top:28px;
		left:10px;
    width: 96%;
	}
	
	#menu-920-1 .menuparent {
		display:none;
	}
	
#block-superfish-1 .sf-megamenu {
		width:210px;
	}
	
	#menu-920-1 .menuparent ul.sf-megamenu {
		position:relative;
		width:210px;
	}
	
	#menu-920-1 div.sf-megamenu-column ol {
		position:absolute;
		top:-92px;
		left:100px;
	}
	
	.field-name-uc-product-image,
  .field-name-field-images {
		float:right;
		margin-left:20px;
		margin-bottom:20px;
    width: 39%;
	}

  .field-name-uc-product-image .field-item:not(:first-child),
  .field-name-field-images .field-item:not(:first-child) {
    float: left;
    min-height: 77px;
    margin-right: 3%;
  }
    .field-name-uc-product-image .field-item.even,
    .field-name-field-images.field-item.even {
      margin-right: 0;
    }
	
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: 3em;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: 3em;
    width: 100%;
  }
#cart-form-pane .form-actions #edit-update,
.form-actions #edit-cancel {
  background-color: #2c3d48;
  color: #fff;
  margin-right: 5px;
}

.node .field-name-uc-product-image {
text-align: right;
}
}

@media all and (min-width: 480px) and (max-width: 758px) {
.view-taxonomy-term .views-row, 
.view-search-results .views-row,
.view-taxonomy-images .views-column,
.view-taxonomy-term .views-row:nth-child(3n), 
.view-taxonomy-images .views-column-3, 
.view-search-results .views-row:nth-child(3n) {
    margin-right: 15px;
}
}

@media all and (min-width: 759px) and (max-width: 1020px) {
.view-taxonomy-term .views-row, 
.view-search-results .views-row,
.view-taxonomy-images .views-column,
.view-taxonomy-term .views-row:nth-child(3n), 
.view-taxonomy-images .views-column-3, 
.view-search-results .views-row:nth-child(3n) {
    margin-right: 15px;
}
}
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {


  /**
   * The layout when there is only one sidebar, the left one.
   */

  /* Span 2 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */

  /* Span 2 columns, starting in 1st column from left. */
  .sidebar-second #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }

  /* Span 1 column, starting in 3rd column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 2 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /* Start a new row and span all 3 columns. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }

  /* Apply the shared properties of grid items in a single, efficient ruleset. */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/path/to/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* Span 1 column, starting in the 1st column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }

  /* Span 1 column, starting in the 2nd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }

  /* Span 1 column, starting in the 3rd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
#uc-cart-checkout-form #delivery-pane input,
#uc-cart-checkout-form #billing-pane input,
#uc-cart-checkout-form #quotes-pane input {
  width:100%;
}

  .uc-store-address-field .form-item label {
  text-align: left;
  width: 100%;
}
.form-item-panes-delivery-delivery-street2 label,
.form-item-panes-billing-billing-street2 label {
  display: none;
}
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
	.header-inner {
		width:1024px;
		margin:0 auto;
	}

    .header__logo {
    float: left !important;
    margin-left:10px !important;
  }

  #block-superfish-1,
  #block-tb-megamenu-main-menu {
    position:absolute;
    top:50px;
    right:10px;
    left: auto;
    width: auto;
  }

  #block-bean-team-ibi, #block-bean-boat-repair, #block-bean-boat-charter {
    height: 202px;
}
	
	
  /**
   * The layout when there is only one sidebar, the left one.
   */

  /* Span 4 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */

  /* Span 4 columns, starting in 1st column from left. */
  .sidebar-second #content {
    float: left;
    width: 68%;
    margin-left: 0%;
    margin-right: -68%;
  }

  /* Span 1 column, starting in 5th column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 26%;
	margin-left: 74%;
    margin-right: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 3 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /* Span 1 column, starting in 5th column from left. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}

@media all and (min-width: 1024px) {
   .tb-megamenu-nav li.level-1:nth-child(1) .tb-megamenu-submenu {
   width:1024px;
    left:-530px;
}

.tb-megamenu .nav > li > a {
  font-weight: normal !important;
}
.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a {
  padding:0 !important;
}
  .tb-megamenu-nav li.level-1:nth-child(3) .tb-megamenu-submenu {
}

  .tb-megamenu-nav li.level-1:nth-child(5) a.dropdown-toggle {
    border-right: 1px solid #ec008c;
  }

  .tb-megamenu-nav li.level-1:nth-child(5) .mega-inner {
    padding-top:0;
  }

    .tb-megamenu-nav li.level-1:nth-child(5) .tb-megamenu-submenu {
    left: -530px;
   width:1024px;
  }
  .tb-megamenu-nav li.level-1:nth-child(5) .tb-megamenu-submenu .tb-megamenu-column {
    width: 100%
}
  #block-views-rs-sailing-block .views-row {
    color: #666;
    float: left;
    width: 25%;
  }

  #block-views-rs-sailing-block .views-row .views-field-body {
  padding:0 10px;
  height:200px;
  }

  #block-views-rs-sailing-block .views-row .views-field-uc-product-image {
     padding:0 10px;
 }

  #block-views-rs-sailing-block .views-row .views-field-uc-product-image img {
  max-width:220px;
  }
}